.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.input_div {
  display: grid;
  justify-content: center;
}
.input_div input {
  margin: auto;
  width: 400px;
  height: 30px;
  margin-top: 100px;
}
.hide_scroll {
 
  width: 400px;
  height: auto;
  min-height: 60px;
  
  max-height: 300px;
}


